* {
    margin: 0;
    padding: 0;
}

body, html {
    font-size: 14.5px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 55px;
    height: 100vh;
    padding: .30rem;
    border-right: 1px solid black;
    transition: all 0.5s ease;
    background-color: #ffffff;
}

.sidebar.active {
    width: 200px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu:hover {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.menu #btn {
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
}

.sidebar.active .menu {
    justify-content: right;
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 10px auto 50px auto;
}

#profile-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    margin: 5px auto;
}

.sidebar.active #profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#username {
    opacity: 0;
    font-size: 22px;
    font-weight: bold;
}

.sidebar.active #username {
    opacity: 1;
}

.sidebar ul li {
    list-style-type: none;
    line-height: 50px;
    position: relative;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #3E92EB;
    color: white;
    transition: all 0.3s ease 0s;
}

.sidebar ul li a i {
    font-size: 30px;
    min-width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-list li a .user {
    color: #222222;
    font-size: 25px;
}

.sidebar .nav-list li a .reset-email {
    color: #222222;
    font-size: 25px;
}

.sidebar .nav-list li a .logout {
    color: #222222;
    font-size: 25px;
}

.sidebar .nav-list li a .reset-password {
    color: #222222;
    font-size: 25px;
}

.sidebar .nav-list li a .bxs-purchase-tag {
    color: #222222;
}

.sidebar .nav-list li a .bxs-cart {
    color: #222222;
}

.sidebar .nav-list li a .bxs-food-menu {
    color: #222222;
}

.sidebar .nav-list li a .bxs-cog {
    color: #222222;
}

.sidebar .nav-item {
    display: none;
}

.sidebar.active .nav-item {
   all: revert;
   text-transform: capitalize;
   color: black;
   font-weight: bold;
}

.sidebar ul li .tool-tip {
    white-space: nowrap;
    text-transform: capitalize;
    position: absolute;
    text-align: right;
    left: 0;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    border-radius: 10px;
    opacity: 0;
    background-color: yellow;
}

.sidebar.active ul li .tool-tip {
    display: none;
}

.sidebar ul li:hover .tool-tip {
    left: 125px;
    opacity: 1;
}

.sidebar.active ~ .main-container {
    position: relative;
    left: 220px;
    width: calc(100% - 220px);
}

.main-container {
    position: relative;
    min-height: 100vh;
    width: calc(100% - 80px);
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
}

.main-heading {
    margin: 5px 0;
}

.main-heading h1 {
    font-size: 18px;
    font-family: Georgia;
    padding: 15px;
}

.settings-wrapper{
    width: 100%;
    height: 100vh;
    background-color: #F6F6F5;
    overflow: scroll;
    box-shadow: 1px 1px 3px gray;
}

#main-section {
    background-color: #ffffff;
    padding: 15px;
    height: 90vh;
    overflow: scroll;
}

#main-section .product-details {
    background-color: #E6E6E6;
    padding: 15px;
}

#main-section .products {
    display: inline-flex;
    font-family: Helvetica;
}

#main-section .products img {
    margin-right: 10px;
}

#main-section .prod-infos {
    display: inline-block;
}

#main-section .prod-infos p {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
}

/* #main-section .prod-infos p.brand {
    font-size: 13px;
} */

#main-section .prod-infos .buttons {
    margin-top: 15px;
}

#main-section .prod-infos button#remove {
    padding: 8px 15px;
    background-color: mediumseagreen;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-right: 5px;
}

#main-section .prod-infos button#remove:hover {
    cursor: pointer;
    background-color: tomato;
    transition: all 0.3s ease 0s;
}

#main-section .prod-infos button#purchase {
    padding: 8px 15px;
    background-color: tomato;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3px;
}

#main-section .prod-infos button#purchase:hover {
    cursor: pointer;
    background-color: mediumseagreen;
    transition: all 0.3s ease 0s;
}

/* @media screen and (min-width<= 601px) {
    #name {
      font-size: 80px;
    }
  }
  
  @media screen and (max-width>= 600px) {
    #name {
      font-size: 30px;
    }
  } */